.main {
  width: 428px;
  height: 850px;
  margin: 0 auto;
  padding: 20px;
  color: white;

  background-color: #773030;

  border-radius: 20px;
}

.Image {
  margin-left: 20rem;
  // margin-bottom: 10rem;
  // width: 100%;
  // height: 100%;
  // margin: 0 auto;
  // padding: 20px;
  // color: white;

  // background-color: #773030;

  // border-radius: 20px;
}
