.main {
  max-width: 428px; /* set the maximum width to the iPhone 14 Max Pro's screen width */
  margin: 0 auto; /* center the content horizontally */
  padding: 20px; /* add some padding to the content */
  // border: 50px;
  // border-radius: 20px;
}
